<!DOCTYPE html>
<html>

<head>
    <title>subreddit</title>
</head>

<body>
    <h1>This is all about cars</h1>
    <% for(let x=0; x < cars.length; x++) { %>
        <p>
            <%= cars[x] %>
        </p>
        <% } %>



</body>

</html>