<!DOCTYPE html>
<html>

<head>
    <meta chaarset="UTF-8">
    <meta name="viewport">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page: <%= rand %>
    </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit pariatur unde adipisci sunt non ex distinctio
        fugiat officiis inventore, doloribus similique, illum nesciunt perspiciatis recusandae quidem, molestias optio a
        eligendi?</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsum, exercitationem temporibus et cum natus
        porro adipisci illum. Modi maiores autem necessitatibus fugit rem eum harum odit quia, quaerat reprehenderit!
    </p>
</body>

</html>