<!DOCTYPE html>
<html>

<head>
    <meta chaarset="UTF-8">
    <meta name="viewport">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page: <%= rand %>
    </h1>

</body>

</html>